# Node modules
node_modules/

# Capacitor
android/
ios/

# Build files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment files
.env
.env.local
